# break statement

In [26]:
for i in range(100):
        print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [27]:
for i in range(100):
    if i == 50:
        break
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [28]:
for i in range(1,100):
    if i == 11:
        break
    print(i)

1
2
3
4
5
6
7
8
9
10

In [2]:
for i in range(1,100):
    if i == 11:
        break
    print('3*',i,'=',3*i)

3* 1 = 3
3* 2 = 6
3* 3 = 9
3* 4 = 12
3* 5 = 15
3* 6 = 18
3* 7 = 21
3* 8 = 24
3* 9 = 27
3* 10 = 30

In [3]:
i = 1
while i<=100:
    if i == 11:
        break
    print('5*',i,'=',5*i)
    i = i+1

5* 1 = 5
5* 2 = 10
5* 3 = 15
5* 4 = 20
5* 5 = 25
5* 6 = 30
5* 7 = 35
5* 8 = 40
5* 9 = 45
5* 10 = 50

In [11]:
sen = ' i love bangladesh and german'

In [13]:
for i in sen.split():
    if i == 'and':
        break
    print(i)

i
love
bangladesh