# For Loop

In [34]:
subjects = ["ai","data science","statistics","math"]
for x in subjects:
    print(x)

ai
data science
statistics
math

In [31]:
data = 'python'
data[0]

'p'

In [8]:
data[-1]

'n'

In [10]:
for x in data:
    print(x,'x')

p x
y x
t x
h x
o x
n x

In [11]:
range(10)

range(0, 10)

In [12]:
for x in range(len(data)):
    print(data[x])

p
y
t
h
o
n

In [13]:
len(data)

6

In [15]:
for x in range(6):
    print(data[x])

p
y
t
h
o
n

In [19]:
data = 'I love data science so much'
for x in range(len(data)):
    print(data[x])

I

l
o
v
e

d
a
t
a

s
c
i
e
n
c
e

s
o

m
u
c
h

In [20]:
data = 'I love data science so much'
for i in range(len(data)):
    print(data[i])

I

l
o
v
e

d
a
t
a

s
c
i
e
n
c
e

s
o

m
u
c
h

In [22]:
len(data)

27

In [23]:
data = 'I love data science so much'
for x in range(27):
    print(data[x])

I

l
o
v
e

d
a
t
a

s
c
i
e
n
c
e

s
o

m
u
c
h

In [21]:
data.split()

['I', 'love', 'data', 'science', 'so', 'much']

In [43]:
data = 'I love data science so much'
data = data.split()
for x in range(len(data)):
    print(data[x],x)

I 0
love 1
data 2
science 3
so 4
much 5

In [44]:
data[1]

'love'

In [45]:
data[3]

'science'

In [50]:
n = [2,3,4,55,60,77,100]
total = 0
for x in n:
    total = total+x
    print(total,x)

2 2
5 3
9 4
64 55
124 60
201 77
301 100

In [51]:
n = [2,3,4,55,60,77,100]
total = 0
for x in n:
    total = total+x
    #print(total,x)
print(total)

301

In [58]:
n = [2,3,4,55,60,77,100]
total = 0
for x in n:
    total = total+x
    print(total,x)
print('total',total)

2 2
5 3
9 4
64 55
124 60
201 77
301 100
total 301

In [76]:
for i in range(10):
print('data science',i)

IndentationError: expected an indented block (3773013889.py, line 2)

In [75]:
for i in range(5,10):
print('data science',i)

IndentationError: expected an indented block (1774169569.py, line 2)

In [ ]:
for i in range(5,10,2):
print('data science',i)

In [77]:
for i in range(100,50,-10):
print('data science')

IndentationError: expected an indented block (1716425187.py, line 2)

In [78]:
for i in range(100,-2):
print('data science')

IndentationError: expected an indented block (3301290651.py, line 2)